---
BasedOnStyle: Microsoft
AlignConsecutiveMacros: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterReturnType: All
ColumnLimit: 80
ContinuationIndentWidth: 4
IncludeBlocks: Regroup
IndentPPDirectives: BeforeHash
IndentWidth: 4
PointerAlignment: Right
ReflowComments: true
SortIncludes: CaseInsensitive
SortUsingDeclarations: Lexicographic

...
