# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# C/C++
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4

# Assembly
[*.S]
indent_style = space
indent_size = 4

# GNU Linker Script
[*.ld]
indent_style = space
indent_size = 2

# Makefiles
[Makefile]
indent_style = tab
indent_size = 4

[meson.build]
indent_style = space
indent_size = 4

# Dockerfile
[Dockerfile]
indent_style = space
indent_size = 4

# Markdown
[*.md]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2
