# macOS
.DS_Store
Thumbs.db
._*

# Object files
*.o
*.ko
*.obj
*.elf

# Build artifacts
.cache
toolchain/build
toolchain/local
toolchain/tarballs

# Meson subprojects
subprojects/boxfort
subprojects/criterion
subprojects/debugbreak
subprojects/klib
subprojects/libgit2
subprojects/nanomsg
subprojects/nanopb
